.App {
  text-align: center;
  background-color: rgb(250,250,250);
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3rem;
  padding-left: 192px;
  text-align: left;
}
.drawer{
  background-color: rgb(30,30,30);
  color: white;
  width: 192px;
  height: inherit;
}
.overlay{
  z-index: 1200;
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.images{
  width: 100%;
  height: 100%;
  padding-left: 192px;
}
img{
  width: 100%;
  height: 100%;
}
.mark{
  position: absolute;
  color: red;
  z-index: 10;
}